<header class="header" id="header_link">
  <!--  <nav class="nav-center">
    <ul class="nav-links">
      <li>
        <a href="index.html" class="nav-link"> Português </a>
      </li>
      <li>
        <a href="english.html" class="nav-link border-right"> English </a>
      </li>
    </ul>
  </nav> -->
  <div class="div__titulo">
    <h2 class="header__h2">Workshop</h2>
    <h1 class="header__h1">Pesquisadores Indígenas</h1>
    <h3 class="header__h3">Unicamp, 27/11/2023</h3>
  </div>

  <div class="div__secundario">
    <div class="sobre__inferior">
      <div class="sobre__descricao">
        <p>
          &ensp; &ensp; &ensp; A oficina reunirá estudantes indígenas de
          Pós-graduação ou que estejam fazendo Iniciação Científica da Unicamp e
          universidades parceiras para falar sobre suas experiências com a
          pesquisa. Como tem sido ser pesquisador/a indígena? Como você definiu
          seu tema de pesquisa? Como tem sido a relação com orientador/a e com a
          equipe de pesquisa? Você busca fazer alguma ponte com conhecimentos
          indígenas ou com contextos indígenas? (não é uma obrigação!). A ideia
          é ser um espaço aberto de conversa sobre a experiência de pesquisa,
          sendo um/a pesquisador/a indígena.
        </p>
        <p>
          &ensp; &ensp; &ensp; Participarão da conversa pesquisadoras não
          indígenas que têm trabalhado em colaboração com indígenas: Laura Rival
          (Oxford University), Velina Ninkova (Oslo Metropolitan University),
          Ana Maria Rabelo Gomes (UFMG), Clarice Cohn (UFSCar), Joana Cabral
          (Unicamp), Chantal Medaets (Unicamp).
        </p>
      </div>
    </div>
  </div>
</header>
