<section class="org" id="organizacao__link">
  <div class="div__titulo">
    <h1 class="header__h1" id="org__h1">Organização</h1>
  </div>
  <div class="icons">
    <a href="https://www.ceape.fe.unicamp.br/en" target="_blank">
      <div class="div__icons">
        <img src="../../assets/imagens/ceape.png" id="ceape" alt="" />
      </div>
    </a>
    <a href="https://www.unicamp.br" target="_blank">
      <div class="div__icons">
        <img src="../../assets/imagens/unicamp.jpg" id="fe" alt="" />
      </div>
    </a>
    <a href="https://www.fe.unicamp.br/">
      <div class="div__icons">
        <img
          src="../../assets/imagens/logo_fe.png"
          target="_blank"
          id="caiapi"
          alt=""
        />
      </div>
    </a>
  </div>
  <i class="fa-solid fa-arrow-up arrow"></i>
</section>
